/* 
    TODO: Implement with app style. Select an author.
*/

.text-field.error {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.text-input:readonly {
    -fx-background-color: transparent;
}
.text-area:readonly  {
    -fx-background-color: transparent;
}

.profileTitle{
    font-weight: bold;
    font-size: 24px;
}

.menu-bar {
    /*-fw-border-width: 1;
    -fx-border-color: red;*/
    -fx-background-color: none;
}

